<header>
<div class="container mx-auto">
  <div class="flex flex-wrap px-5 flex-row items-center ">
    <a class="flex title-font font-medium items-center text-white" href="/">
      <div
        class="text-3xl font-logo"
      >
        MK
      </div>
    </a>
</div>
</header>